NODE_ENV=development
DEBUG='app:*'

AWS_KEY=''
AWS_SECRET='/'
AWS_REGION=''

CRYPTO_PASSWORD=''

PIBBLE_TOKEN_ADDRESS=''
ETHEREUM_NODE_URL=''
ETHERSCAN_API_HOST=''
MAIN_ACCOUNT=''
MAIN_ACCOUNT_PASSWORD=''

PIBBLE_KLAYTN_TOKEN_ADDRESS=''
KLAY_NODE_URL=''
KLAY_MAIN_WALLET_PK=''
KLAY_FEE_PAYER_WALLET_PK=''

ETH_COIN_ID = 1
KLAY_COIN_ID = 6
PIB_ERC_COIN_ID = 2
PIB_KRC_COIN_ID = 7

ALERT_PHONE_NUMBER ='+'